<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Codando A Vida</title>
  <div th:insert="~{fragments/utils::stylesheets}"></div>
</head>
<body>
<div th:insert="~{fragments/utils::navbar}"></div>

<div class="container">
  <div th:insert="~{fragments/utils::messages}"></div>

  <article class="container">
    <header>
      <h1 th:text="${post.title}"></h1>
      <sub class="post-sub">
        <i class="bi-bookmark"></i>
        <span th:text="${post.category.name}"></span>

        <i class="bi-person"></i>
        <span th:text="${post.creationUser.name} + ' '"></span>

        <i class="bi-calendar"></i>
        <span th:text="${{post.publishDate}}"></span>
      </sub>
    </header>
    <p th:utext="${post.body}"></p>
  </article>
</div>

<div th:insert="~{fragments/utils::footer}"></div>
</body>
</html>