<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Codando A Vida</title>
  <div th:insert="~{fragments/utils::stylesheets}"></div>
</head>
<body>
<div th:insert="~{fragments/utils::navbar}"></div>

<div class="container">
  <div th:insert="~{fragments/utils::messages}"></div>

  <article class="container">
    <header>
      <h1 th:text="${post.title}"></h1>
      <sub class="post-sub">
        <i class="bi-bookmark"></i>
        <span th:text="${post.category.name}"></span>

        <i class="bi-person"></i>
        <span th:text="${post.creationUser.name} + ' '"></span>

        <i class="bi-calendar"></i>
        <span th:text="${{post.publishDate}}"></span>
      </sub>
    </header>
    <p th:utext="${post.body}"></p>

    <div class="category">
      <a class="btn btn-primary" th:text="${post.category.name}" href="#"></a>
    </div>

    <hr />
    <h4>Relacionados</h4>
    <div class="relacionados row">
      <div data-th-each="related: ${relatedPosts}" class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" th:text="${related.title}"></h5>
            <p class="card-text" th:text="${related.description}"></p>
            <a th:href="@{'/post' + ${related.slug}}" class="card-link stretched-link">Leia mais</a>
          </div>
        </div>
      </div>
    </div>

  </article>
</div>

<div th:insert="~{fragments/utils::footer}"></div>
</body>
</html>