<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Codando A Vida</title>
    <div th:insert="~{fragments/utils::stylesheets}"></div>
</head>
<body>
    <div th:insert="~{fragments/utils::navbar}"></div>

    <div class="container">
        <div th:insert="~{fragments/utils::messages}"></div>

        <article class="card" data-th-each="post: ${posts}">
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <i class="bi-bookmark"></i>
                    <span th:text="${post.category.name}"></span>

                    <i class="bi-person"></i>
                    <span th:text="${post.creationUser.name} + ' '"></span>

                    <i class="bi-calendar"></i>
                    <span th:text="${{post.publishDate}}"></span>
                </h6>
                <p class="card-text" th:text="${post.description}"></p>
                <a class="card-link stretched-link" th:href="${post.slug}">Leia Mais</a>
            </div>
        </article>
    </div>

    <div th:insert="~{fragments/utils::footer}"></div>
</body>
</html>