<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Codando A Vida - Redefinir Senha</title>
  <div th:insert="~{fragments/utils::stylesheets}"></div>
</head>
<body>
<div th:insert="~{fragments/utils::navbar}"></div>

<div class="container col-md col-3">
  <h1>Redefinir Senha</h1>
  <div th:insert="~{fragments/utils::messages}"></div>
  <form th:action="@{'/change-password/' + ${generatedHash}}" method="post">
    <input type="hidden" name="userId" th:value="${userId}" />

    <div class="mb-3">
      <label for="password" class="form-label">Nova Senha</label>
      <input type="password" id="password" name="password" autofocus="autofocus" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="confirm-password" class="form-label">Confirme a Nova Senha</label>
      <input type="password" id="confirm-password" name="confirmPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Redefinir</button>
  </form>
</div>

<div th:insert="~{fragments/utils::footer}"></div>
</body>
</html>