<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Codando A Vida - Login</title>
  <div th:insert="~{fragments/utils::stylesheets}"></div>
</head>
<body>
<div th:insert="~{fragments/utils::navbar}"></div>

<div class="container col-md col-3">
  <h1>Login</h1>
  <div th:insert="~{fragments/utils::messages}"></div>
  <p th:if="${loginError}" class="error">Usuário/senha inválidos.</p>
  <form th:action="@{/login}" method="post">
    <label for="username">Nome</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" />
    <br />
    <label for="password">Senha</label>:
    <input type="password" id="password" name="password" class="form-control"/>
    <br />
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
  <p>Não tem uma conta? Cadastre-se <a class="link" th:href="@{/user/create}">aqui</a>.</p>
  <p>Esqueceu a sua senha? Recupere-a <a class="link" th:href="@{/forgot-password}">aqui</a>.</p>
</div>

<div th:insert="~{fragments/utils::footer}"></div>
</body>
</html>